<html>
<head>
    <title>QC REPORTS</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2 style="text-align: center">CRAG mHealth Weekly Report</h2>
<h3>Report Date: {{ this_day }}</h3>
<h2>ENROLLED CONTACTS</h2>
<h2>{{ target }}</h2>
<table>
    <thead><tr><td>CONTACT</td><td>ENROLLED ON</td></tr></thead>
    {% for contact in contacts %}
        <tr><td>{{ contact.urns }}</td><td>{{ contact.created_on }}</td></tr>
    {% endfor %}
</table>
<h2>Total contacts enrolled = {{ contacts_count }}</h2>

<h2>SENT MESSAGES</h2>
<table>
    <thead><tr><td>CONTACT</td><td>MESSAGE</td></tr></thead>
    {% for msg in sent_messages %}
        <tr><td>{{ msg.urn }}</td><td>{{ msg.text }}</td></tr>
    {% endfor %}
</table>

<h2>Total Messages Sent = {{ messages_count }}</h2>


</body>
</html>